.footer {
    background: #B3DAF8;
    padding-bottom: 20px;
    &__content {
        display: flex;
        justify-content: center;
        &-link {
            &:first-child {
                padding-right: 4px;
            }
            ::after {
                content: "";
                color: rgb(0, 0, 0);
                width: 10px;
                height: 10px;
            }
            display: flex;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #0076CE;
        }
        &-partner {
            display: flex;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #0076CE;
            padding-right: 8px;
        }
        &-text {
            display: flex;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
    }
}