.product {
  position: relative;

  background: #b3daf8;
  &__content {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 566px;
    &-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 32px;
      p:not(:last-child) {
        margin-bottom: 24px;
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      .button {
        background: #0076ce;
        border-radius: 8px;
        border: none;
        padding: 13px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        width: 209px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
  &__laptop {
    position: absolute;
    top: 786px;
    left: 50%;
    transform: translate(-50%, 0px);
    .left_laptop {
      position: absolute;
      left: -326px;
      top: -61px;
    }
    .right_laptop {
      position: absolute;
      top: -61px;
      left: 513px;
    }
  }
  &__img {
    position: absolute;
    width: 100px;
    height: 500px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    div {
      position: absolute;
    }
    &-building {
      top: 71px;
      right: 424px;
    }
    &-picture {
      top: 362px;
      left: 562px;
    }
    &-sun {
      position: absolute;
      top: 276px;
      right: 814px;
      img {
        position: absolute;
      }
      .light__small {
        top: 104px;
        left: 90px;
      }
      .light__big {
        top: 170px;
        left: 144px;
      }
    }
    &-detail {
      top: 1128px;
      right: 504px;
    }
    &-water {
      top: 1100px;
      left: 384px;
    }
  }
}

@media screen and (max-width: 1279px) {
  .product {
    &__content {
      padding-bottom: 496px;
    }
    &__laptop {
      top: 690px;
      .centre_laptop {
        width: 486.4px;
      }
      .left_laptop {
        width: 339.92px;
        left: -280px;
        top: -50px;
      }
      .right_laptop {
        width: 339.92px;
        top: -50px;
        left: 430px;
      }
    }
    &__img {
      &-building {
        top: 71px;
        right: 424px;
      }
      &-picture {
        top: 350px;
        left: 440px;
        .picture {
          width: 178.09px;
          height: 45.93px;
        }
      }
      &-sun {
        top: 306px;
        right: 662px;

        .sun {
          width: 190.99px;
          height: 193.41px;
        }
        .light__small {
          width: 61.98px;
          height: 11.28px;
          top: 91px;
          left: 79px;
        }
        .light__big {
          width: 120.07px;
          height: 11.28px;
          top: 143px;
          left: 108px;
        }
      }
      &-detail {
        top: 1060px;
        right: 390px;
        .detail {
          width: 49px;
          height: 64px;
        }
      }
      &-water {
        top: 1084px;
        left: 332px;
        .yellow {
          width: 297px;
          height: 302px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
    .product {
        &__content {
            max-width: 463px;
            padding-bottom: 392px;
          }
        &__laptop {
            top: 870px;
          .centre_laptop {
            width: 364.8px;
          }
          .left_laptop {
            width: 254.94px;
            left: -198px;
            top: -38px;
          }
          .right_laptop {
            width: 254.94px;
            top: -38px;
            left: 308px;
          }
        }
        &__img {
          &-building {
            top: 71px;
            right: 338px;
          }
          &-picture {
            top: 666px;
            left: 340px;
            .picture {
                width: 130.67px;
                height: 33.7px;
            }
          }
          &-sun {
            top: 628px;
            right: 506px;
            .sun {
                width: 140.13px;
                height: 141.91px;
            }
            .light__small {
                width: 45.48px;
                height: 8.28px;
                top: 64px;
                left: 64px;
            }
            .light__big {
                width: 88.1px;
                height: 8.28px;
                top: 107px;
                left: 78px;
            }
          }
          &-detail {
            top: 1146px;
            right: 326px;
            .detail {
                width: 42px;
                height: 54px;
            }
          }
          &-water {
            top: 1152px;
            left: 262px;
            .yellow {
                width: 252px;
                height: 256px;
            }
          }
        }
      }
}

@media screen and (max-width: 767px) {
    .product {
      height: 1420px;
        &__content {
            max-width: 288px;
            padding-top: 32px;
          }
        &__laptop {
            top: 1266px;
          .centre_laptop {
            width: 152px;
          }
          .left_laptop {
            width: 106.23px;
            left: -86px;
            top: -10px;
          }
          .right_laptop {
            width: 106.23px;
            top: -10px;
            left: 133px;
          }
        }
        &__img {
          &-picture {
            display: none;
          }
          &-building {
            display: none;
          }
          &-sun {
            display: none;
            .sun {
                width: 140.13px;
                height: 141.91px;
            }
            .light__small {
                width: 45.48px;
                height: 8.28px;
                top: 64px;
                left: 64px;
            }
            .light__big {
                width: 88.1px;
                height: 8.28px;
                top: 107px;
                left: 78px;
            }
          }
          &-detail {
            top: 1396px;
            right: 168px;        
            .detail {
                width: 25px;
                height: 33px;
            }
          }
          &-water {
            top: 1368px;
            left: 160px;
            .yellow {
                width: 87px;
                height: 89px;
            }
          }
        }
      }
}
